<div>
<h3 class="text-3xl font-bold  text-center pt-8">Our Products</h3>
<p class="text-center text-xl mb-8">(Novel Solutions which will help you immensely)</p>
<div class="flex flex-row flex-wrap justify-around mb-12">
    <!--Card 1-->
    <div style="max-width: 300px;" class="rounded my-2 overflow-hidden border-2">
      <img class="w-full p-5" src="https://static.wixstatic.com/media/e04957_935675e1b39f4bf797b00cb1876ce244~mv2.jpg/v1/fill/w_376,h_375,al_c,lg_1,q_80,enc_auto/Screen%2520Shot%25202020-10-12%2520at%252011_41_edited.jpg" alt="Mountain">
      <div class="px-6 pt-4 pb-8">
        <div class="font-bold text-xl mb-2">COOLING TOWER FAN ENERGY REDUCTION</div>
        <p class="text-gray-700 text-base">
          Guaranteed 40% reduction in AHU energy consumption.
        </p>
        <br>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " href="">Know More</a>
      </div>
    </div>
    <!--Card 2-->
    <div style="max-width: 300px;" class="rounded my-2 overflow-hidden border-2">
      <img class="w-full p-5" src="https://static.wixstatic.com/media/e04957_3657324508af48deb5dad814ee8e7a60~mv2.png/v1/fill/w_376,h_375,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Screen%20Shot%202020-10-12%20at%2011_59_43%20AM_pn.png" alt="River">
      <div class="px-6 pt-4 pb-8">
        <div class="font-bold text-xl mb-2">CHILLER ENERGY REDUCTION</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <br>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " href="">Know More</a>
      </div>
    </div>

    <!--Card 3-->
    <div style="max-width: 300px;" class="rounded my-2 overflow-hidden border-2">
      <img class="w-full p-5" src="https://static.wixstatic.com/media/e04957_8e96723bc9844cf2bd061dd1ad57200e~mv2.png/v1/fill/w_376,h_375,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Screen%20Shot%202020-10-12%20at%201_16_56%20PM.png" alt="Forest">
      <div class="px-6 pt-4 pb-8">
        <div class="font-bold text-xl mb-2">AHU ENERGY REDUCTION</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <br>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " href="">Know More</a>
      </div>
    </div>

  </div>
</div>
</div>

