<div style="background-color: lightgrey;">
<h3 class="text-3xl font-bold  text-center pt-8">Our Services</h3>
<p class="text-center text-xl mb-8">(Sit back and relax while we help you with our expertise)</p>

<div class="flex flex-row flex-wrap justify-around">
    <div class="text-center my-2" style="max-width: 285px;">
      <img class="w-full p-5 rounded-full" src="./img/mm_dashboard-3-1024x712.png" alt="Mountain">
      <div class="font-bold text-xl mb-2">CONDITION MONITORING</div>
      <p class="text-white-700 text-base p-5 text-lg">
        Regularly monitor the condition of your critical equipment to ensure zero downtime.
      </p>
    </div>
    <div class="text-center my-2" style="max-width: 285px;">
        <img class="w-full p-5 rounded-full" src="./img/electrical-safety-audit-500x500.png" alt="Mountain">
        <div class="font-bold text-xl mb-2">ENERGY AND ELECTRICAL SAFETY AUDITS</div>
        <p class="text-green-700 text-base p-5 text-lg">
          Keep yourself, your loved ones and your establishments safe from any electrical hazards.
        </p>
    </div>
    <div class="text-center my-2" style="max-width: 285px;">
        <img class="w-full p-5 rounded-full" src="./img/Electrical-Thermography.jpg" alt="Mountain">
        <div class="font-bold text-xl mb-2">THERMOGRAPHY AUDITS</div>
        <p class="text-white-700 text-base p-5 text-lg">
          Find out and rectify electrical invisible to the naked eye. Eliminate issues from their root cause
        </p>
    </div>
</div>
</div>