<div  class="bg-gray-500 shadow-xl my-10 mx-5 md:mx-20 lg:mx-40 flex flex-row flex-wrap justify-around">
    <div style="width: 30%; min-width: 275px; flex-grow: 1;" class = "text-white px-10 pb-10 md:px-20">
        <div class="text-3xl font-bold  text-left md:text-center pt-8 mb-4">Our Speciality</div>
        <div class="text-left text-lg space-y-2">
            <p class="">As your on-demand Environment Footprint Reduction and Equipment Monitoring Specialists, we are committed to two main principles:</p>
            <ol class="list-decimal">
                <li>Providing the latest technologies to our clients coupled with the highest levels of customer satisfaction, and</li>
                <li>Ensuring that we offer the lowest prices in the business </li>
                <li>Our laser-sharp focus on customer satisfaction and price competitiveness is the reason why so many of our clients bring us repeat business and are happy to recommend us to others</li>
            </ol>
        </div>
    </div>
    <img style="object-fit: fill; max-width: 500px; min-width: 270px;" class="m-10 md:m-0 w-full md:w-1/3" src="img/our_speciality.jpg" alt="">
    <!-- <div class="flex-grow-0 m-10 md:m-0 w-1/3 md:w-full" style=" max-width: 350px;  padding:  0px;"><img style="object-fit: fi;" src="img/our_speciality.jpg" alt=""></div> -->
</div>